body {
    --siteFont: 'Open Sans', sans-serif;
    --headingFont: 'Open Sans', sans-serif; /* Ändrade Orbitron till Open Sans här */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}

#name {
  width: 300px;
}

.search .input-wrap {
    margin-top: 30px!important;
}

.sidebar-toggle {
    top: 0;
    bottom: unset;
}

@media screen and (max-width: 768px) {
    #docsify-darklight-theme {
        left: unset;
    }
}

.editable-field {
  border: 1px solid #ccc; /* En solid, grå kant */
  padding: 8px; /* Lite luft runt texten */
  background-color: #f9f9f9; /* En lätt grå bakgrundsfärg */
  min-height: 20px; /* Ser till att rutan inte blir för liten */
  box-sizing: border-box; /* Inkluderar padding i totala bredden */
}

/* Ändra utseendet när användaren klickar i rutan */
.editable-field:focus {
  border-color: #555; /* Mörkare kant när rutan är aktiv */
  outline: none; /* Ta bort standard-outline i vissa webbläsare */
}